<!DOCTYPE html>
<html>
<head>
  <title>Wedding</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'bootstrap.css', 'font.css' ,'goods.css', 'service.css', 'jquery.maximage.css?v=1.2','screen.css?v=1.2', 'signup.css', 'profile.css', 'homepage.css'%>
</head>
<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<%= javascript_include_tag 'jquery-1.11.0.min.js' ,'jquery.min.js', 'jquery.cycle.all.js', 'jquery.maximage.js','homepage.js', 'bootstrap.min.js' %>
<%= csrf_meta_tags %>
</body>
</html>
