<!DOCTYPE html>
<html>
<head>
  <title>Wedding</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'bootstrap.css','bootstrap-editable.css', 'bootstrap.icon-large.min.css', 'font.css' , 'homepage.css','goods.css', 'service.css', 'jquery.maximage.css?v=1.2','screen.css?v=1.2', 'signup.css', 'profile.css' , 'navbar.css' %>
</head>
<body>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<% if notice %>
    <p class="alert alert-info"><%= notice %></p>
<% end %>
<%= yield %>
<%= javascript_include_tag  'application' %>
<%= csrf_meta_tags %>
</body>
</html>
