
<!DOCTYPE html>
<html class='no-js' lang='en'>
	<head>
		<title>Sign Up Form</title>
		<meta charset='utf-8' />
		<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
		<meta name="language" content="en" />
		<meta content='width=device-width, initial-scale=1.0' name='viewport' />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/signup.css" />
    	<link rel="stylesheet" href="css/font.css" />
	</head>
	<body id="signup">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
        <div class="well" id="sign_up_page_container">    
     	    <div class="container-fluid">
                <form id="signup" class="form-horizontal" role="form">
            		<legend id="reg">ثبت‌نام</legend>			        	    
                <div class= "col-md-offset-7 col-md-5 ">
	        	        <div class="row form-group">
	        	            <div class="col-sm-offset-4 col-sm-5">
                               <!-- <input type="text" class="form-control"> --> 
                               <%= f.text_field :email, {:id=>'sign_up_text_field' } %> <!-- injaa dorost she --> 
                          </div>
	        	            <div class ="col-sm-3" >
                               <%= f.label "ایمیل" %><br />
	        	            </div>
                      </div>    	        	            
	        	        <div class="row form-group">
	        	            <div class="col-sm-offset-4 col-sm-5">
                                <!-- <input type="password" class="form-control"> -->
                                <%= f.password_field :password,autocomplete: "off"  %>
                            </div>
	        	            <div class ="col-sm-3" >
	        	            	 <%= f.label "گذرواژه" %><br />
                                <!-- <label class="control-label">گذرواژه</label> -->
	        	            </div>
                      </div>    	        	            
	        	        <div class="row form-group">
	        	            <div class="col-sm-offset-4 col-sm-5">
                                <!--<input type=	"password" class="form-control"> -->
                                <%= f.password_field :password_confirmation, autocomplete: "off" %>
                            </div>
	        	            <div class ="col-sm-3">
                                <!-- <label class="control-label">تکرار گذرواژه</label> -->
                                 <%= f.label "تکرار گذرواژه"%><br />
	        	            </div>
                        </div> 
                        	            
	                    <div class = "row col-md-offset-4 col-md-1 col-md-9" id ="sign_up_btns" align="center">
	                      
                        	<div align="center">
                        	<!--
                        	     <button id="save-btn" type="button" class=" btn btn-success btn-block">ذخیره</button>
                        	     -->
                        	     <%= f.submit "ذخیره" ,:class=> 'col-sm-3 btn btn-success btn-block sign_up_butt' %>
                            </div>
                      </div>
	        	    </div>
	        	</form>
	        </div>	
	    <div>
	    <% end %>
	    <!--
		<%= render "devise/shared/links" %>
		-->
		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/signup.js"></script>
		</body>
    
</html> 

