<!DOCTYPE html>
<html class='no-js' lang='en'>
	<head>
		<title>Wedding Planner</title>
		<meta charset='utf-8' />
		<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
		<meta name="language" content="en" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<meta content='width=device-width, initial-scale=1.0' name='viewport' />
		<link rel="stylesheet" href="css/jquery.maximage.css?v=1.2" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="css/screen.css?v=1.2" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="css/font.css" />
		<link rel="stylesheet" href="css/homepage.css" />
	</head>
	<body>
		<div id="maximage">
        <%= link_to image_tag ("1.jpg") %>
        <%= link_to image_tag ("2.jpg") %>
        <%= link_to image_tag ("3.jpg") %>
        <%= link_to image_tag ("4.jpg") %>
        <%= link_to image_tag ("5.jpg") %>
        <%= link_to image_tag ("6.jpg") %>
        <%= link_to image_tag ("7.jpg") %>
        <%= link_to image_tag ("8.jpg") %>
        <!--
			<img src="/images/1.jpg" alt="" width="1400" height="1050" />
			<img src="/images/2.jpg" alt="" width="1400" height="1050" />
			<img src="/images/3.jpg" alt="" width="1400" height="1050" />
			<img src="/images/4.jpg" alt="" width="2048" height="1536" />
			<img src="/images/5.jpg" alt="" width="2048" height="1536" />
			<img src="/images/6.jpg" alt="" width="2048" height="1536" />
			<img src="/images/7.jpg" alt="" width="2048" height="1536" />
            -->
		</div>
		<div id="signup-nav">
        <!--
            <div id = "start" >
               <span class="glyphicon glyphicon-chevron-right"></span>
            </div> -->
            <!--<li><%= link_to "Edit Account", new_user_session_path %></li> -->
             <div class="btn-group-vertical" id="start-btn">
             <!--
             <div id="main">
             <li><%= link_to "Edit Account", edit_user_registration_path,   :remote=> true%></li>
             </div> --> 
              <%= button_to  "خروج", destroy_user_session_path, :class => 'btn btn-sm btn-primary trans', :type=>'button', :id=>'sign_up_btns'  ,:method => :delete%>
                 

                <%= button_to  "ثبت‌نام", new_user_registration_path, :class => 'btn btn-sm btn-primary trans', :type=>'button', :id=>'sign_up_btns'  ,:method => :get%>
             <!-- <button   class="btn btn-sm btn-primary trans" type="button" id = "signup-btn">
                    ثبت‌نام
                </button>  
                 <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#basicModal">
                 ورود
                 </a>-->
                 
                 <%= button_to  "ورود", new_user_session_path, :class => 'btn btn-sm btn-primary trans', :type=>'button', :id=>'sign_up_btns'  ,:method => :get%>
            </div>
        </div>

        <!--
        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">ورود</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <label>نام کاربری </label>
                            <input type="text" class ="col-md-6" >
                        </div>
                        <div class="input-group ">
                            <label> گذرواژه </label>
                            <input type="password" class ="col-md-6">
                        </div>
                    </div>
                    <p>
                        <a href="url" data-toggle="modal" data-target="#smallModal" id="frgt-pass-link" >گذرواژه‌ی خود را فراموش کرده‌اید؟</a>
                    </p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="window.open('profile.html')" >ورود</button>
                    </div>
                </div>
            </div>
        </div>
        --> 
        <div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">پست الکترونیکی خود را وارد کنید</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group" id="email">
                            <input type="text" >
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">تایید</button>
                    </div>
                </div>
            </div>
        </div>
		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.cycle.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.maximage.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/homepage.js" type="text/javascript" charset="utf-8"></script>		
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> 			
  </body>
</html>
