
<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goods</title>
  </head>
  <body>
    <%= render "layouts/navbar" , :locals => {:brand => "خدمات"}%>
    <div class="jumbotron container-fluid" id = "pg-main-content">
      <div class = "container-fluid">
      <div class = "row" align ="center">
        <h1 id ="pg-h1"> عروس و داماد </h1>
        <hr class = "style-seven">
      </div>
      <div class="col-md-4 success container-fluid" id="pg-item" >
        <div align="center"> 
          <div class = "row" id = "pg-itm-pic">
            <%= link_to (image_tag ("12.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "خدمات آرایشی"} %>
          </div>
          <div class = "row">
            <span class="glyphicon glyphicon-eye-open"></span>
            خدمات آرایشی
          </div>
        </div>
      </div>
      <div class="col-md-4 success container-fluid" id="pg-item" >
        <div align="center"> 
          <div class = "row" id = "pg-itm-pic">
            <%= link_to (image_tag ("13.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "آتلیه‌های عکاسی"} %>
          </div>
          <div class = "row">
            <span class="glyphicon glyphicon-camera"></span>
            آتلیه عکاسی
          </div>
        </div>
      </div>
      <div class="col-md-4 success container-fluid" id="pg-item" >
        <div align="center"> 
          <div class = "row" id = "pg-itm-pic">
            <%= link_to (image_tag ("18.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "jewels"} %>
          </div>
          <div class = "row">
            <span class="glyphicon glyphicon-gift"></span>
            جواهرات
          </div>
        </div>
      </div>
      <!-- **********************************************-->
      <div class="col-md-4 success container-fluid" id="pg-item" >
        <div align="center"> 
          <div class = "row" id = "pg-itm-pic">
            <%= link_to (image_tag ("9.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "car"} %>
          </div>
          <div class = "row">
            <span class="glyphicon glyphicon-road"></span>
            اتومبیل عروس
          </div>
        </div>
      </div>
      <div class="col-md-4 success container-fluid" id="pg-item" >
        <div align="center"> 
          <div class = "row" id = "pg-itm-pic">
            <%= link_to (image_tag ("19.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "dress"} %>
          </div>
          <div class = "row">
            <span class="glyphicon glyphicon-user"></span>
            لباس
          </div>
        </div>
      </div>
      <div class="col-md-4 success container-fluid" id="pg-item" >
        <div align="center"> 
          <div class = "row" id = "pg-itm-pic">
            <%= link_to (image_tag ("17.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "flower"} %>
          </div>
          <div class = "row">
            <span class="glyphicon glyphicon-leaf"></span>
            گل و تزیینات
          </div>
        </div>
      </div>
    </div>
        <hr class = "style-seven">

           <div class="carousel slide center" data-ride="carousel" align="center">
            <ol class="carousel-indicators" margin: auto>
              <li data-target="#carousel" data-slide-to="0" class="active"></li>
              <li data-target="#carousel" data-slide-to="1" ></li>
              <li data-target="#carousel" data-slide-to="2" ></li>
              <li data-target="#carousel" data-slide-to="3" ></li>
            </ol>
            <div class="carousel-inner" margin: auto>
              <div class="item active">
                <%=link_to image_tag("22.jpg", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>       
              </div>
              <div class="item">
                <%=link_to image_tag("33.jpg", :alt => "Slide2"), {:class => "img-responsive", :alt => "Responsive image"} %>
              </div>
              <div class="item">
                <%=link_to image_tag("34.jpg", :alt => "Slide3"), {:class => "img-responsive", :alt => "Responsive image"} %>
              </div>
              <div class="item">
                <%=link_to image_tag("35.jpg", :alt => "Slide4"), {:class => "img-responsive", :alt => "Responsive image"} %>
              </div>     
            </div>
      </div>


      <div class ="container-fluid">
        <div class = "row" align ="center">
          <h1 id ="pg-h1"> مراسم </h1>
          <hr class = "style-seven">
        </div>
        <div class="col-md-4 success container-fluid" id="pg-item" >
          <div align="center"> 
            <div class = "row" id = "pg-itm-pic">
              <%= link_to (image_tag ("14.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "makeup"} %>
            </div>
            <div class = "row">
              <span class="glyphicon glyphicon-music"></span>
              موسیقی
            </div>
          </div>
        </div>
        <div class="col-md-4 success container-fluid" id="pg-item" >
          <div align="center"> 
            <div class = "row" id = "pg-itm-pic">
              <%= link_to (image_tag ("20.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "photography"} %>
            </div>
            <div class = "row">
              <span class="glyphicon glyphicon-glass"></span>
              سالن مراسم
            </div>
          </div>
        </div>
        <div class="col-md-4 success container-fluid" id="pg-item" >
          <div align="center"> 
            <div class = "row" id = "pg-itm-pic">
              <%= link_to (image_tag ("15.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "jewels"} %>
            </div>
            <div class = "row">
              <span class="glyphicon glyphicon-send"></span>
              کارت دعوت
            </div>
          </div>
        </div>
        <!-- **********************************************-->
        <div class="col-md-4 success container-fluid" id="pg-item" >
          <div align="center"> 
            <div class = "row" id = "pg-itm-pic">
              <%= link_to (image_tag ("16.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "car"} %>
            </div>
            <div class = "row">
              <span class="glyphicon glyphicon-cutlery"></span>
              پذیرایی و غذا
            </div>
          </div>
        </div>
        <div class="col-md-4 success container-fluid" id="pg-item" >
          <div align="center"> 
            <div class = "row" id = "pg-itm-pic">
              <%= link_to (image_tag ("10.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "dress"} %>
            </div>
            <div class = "row">
              <span class="glyphicon glyphicon-heart-empty"></span>
              کیک و شیرینی
            </div>
          </div>
        </div>
        <div class="col-md-4 success container-fluid" id="pg-item" >
          <div align="center"> 
            <div class = "row" id = "pg-itm-pic">
              <%= link_to (image_tag ("11.jpg") ,{:class => 'img-responsive' , :alt => 'Responsive image'}), {:action => 'show', :name => "flower"} %>
            </div>
            <div class = "row">
              <span class="glyphicon glyphicon-heart"></span>
              سفره‌ی عقد
            </div>
          </div>
        </div>
    </div>




    </div>  
 <!--             <div class="col-md-4 success td-responsive" >
           <div class="carousel slide center" data-ride="carousel" align="center">
            <ol class="carousel-indicators" margin: auto>
              <li data-target="#carousel" data-slide-to="0" class="active"></li>
              <li data-target="#carousel" data-slide-to="1" ></li>
              <li data-target="#carousel" data-slide-to="2" ></li>
              <li data-target="#carousel" data-slide-to="3" ></li>
            </ol>
            <div class="carousel-inner" margin: auto>
              <div class="item active">
                <%=link_to image_tag("22.jpg", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>       
              </div>
              <div class="item">
                <%=link_to image_tag("33.jpg", :alt => "Slide2"), {:class => "img-responsive", :alt => "Responsive image"} %>
              </div>
              <div class="item">
                <%=link_to image_tag("34.jpg", :alt => "Slide3"), {:class => "img-responsive", :alt => "Responsive image"} %>
              </div>
              <div class="item">
                <%=link_to image_tag("35.jpg", :alt => "Slide4"), {:class => "img-responsive", :alt => "Responsive image"} %>
              </div>     
            </div>
      </div>



          </tr>
          <tr class="danger" id = "inCon">
              <td class="col-md-4 success td-responsive" id = "inCon" >
                  <div align="center"> <%= link_to image_tag ("9.jpg") ,{ :class => 'img-responsive' , :alt => 'Responsive image'}%></div>
              </td>
              
          </tr>
          <tr class="danger" id="inCon"> 
            <td class="col-md-4 success" id = "inCon">
                <%= link_to "اتومبیل عروس" ,:method => :get,:action => 'show', :name =>"car" %>
                  <span class="glyphicon glyphicon-road"></span> 
            </td>
            
          </tr>           

          <tr class="danger" id = "inCon">
              
              <td class="col-md-4 success td-responsive" id = "inCon">
                  <div align="center"> <%= link_to image_tag ("19.jpg") ,{ :class => 'img-responsive' , :alt => 'Responsive image'}%></div>
              </td>
              <td class="col-md-4 success td-responsive" id = "inCon">
                  <div align="center"> <%= link_to image_tag ("17.jpg") ,{ :class => 'img-responsive' , :alt => 'Responsive image'}%></div>
              </td>
          </tr>
          <tr class="danger" id="inCon"> 
            
            <td class=" col-md-4 success " id = "inCon">
                <%= link_to "لباس" ,:method => :get,:action => 'show', :name =>"dress" %>
                  <span class="glyphicon glyphicon-user"></span> 
              </td>
              <td class=" col-md-4 success " id = "inCon">
                <%= link_to "گل و تزیینات" ,:method => :get,:action => 'show', :name =>"flower" %>
                  <span class="glyphicon glyphicon-leaf"></span> 
              </td>
          </tr>           
      </table>
    </div>
    <div>
            


      </div>
    <div class="table-responsive">
      <table class="table table-condensed">
          <h1><b>مراسم</b></h1>
              <br>
              <tr class="danger" id = "inCon">
                  <td class="col-md-4 success" id = "inCon" >
                    <div align="center"> <%= link_to image_tag ("14.jpg") ,{ :class => 'img-responsive' , :alt => 'Responsive image'}%></div>
                  </td>
                  <td class="col-md-4 success td-responsive" id = "inCon" >
                      <div align="center"> <%= link_to image_tag ("20.jpg") ,{ :class => 'img-responsive' , :alt => 'Responsive image'}%></div>
                  </td>
                
              </tr>
              <tr class="danger" id="inCon"> 
                <td class="col-md-4 success td-responsive" id = "inCon" >
                    <%= link_to "موسیقی" ,:method => :get,:action => 'show', :name =>"music" %>
                      <span class="glyphicon glyphicon-music"></span> 
                </td>
                <td class="col-md-4 success" id = "inCon">
                    <%= link_to "سالن مراسم" ,:method => :get,:action => 'show', :name =>"hall" %>
                      <span class="glyphicon glyphicon-glass"></span> 
                </td>
                
              </tr>           
              <tr class="danger" id = "inCon">
                  <td class="col-md-4 success" id = "inCon" >
                    <div align="center"> <%= link_to image_tag ("15.jpg") ,{ :class => 'img-responsive' , :alt => 'Responsive image'}%></div>
                  </td>
                  <td class="col-md-4 success td-responsive" id = "inCon" >
                      <div align="center"> <%= link_to image_tag ("16.jpg") ,{ :class => 'img-responsive' , :alt => 'Responsive image'}%></div>
                  </td>
                  
              </tr>
              <tr class="danger" id="inCon"> 
                <td class="col-md-4 success td-responsive" id = "inCon" >
                    <%= link_to "کارت دعوت" ,:method => :get,:action => 'show', :name =>"card" %>
                      <span class="glyphicon glyphicon-send"></span> 
                </td>
                <td class="col-md-4 success" id = "inCon">
                    <%= link_to "پذیرایی و غذا" ,:method => :get,:action => 'show', :name =>"food" %>
                      <span class="glyphicon glyphicon-cutlery"></span> 
                </td>
                
              </tr>           
              <tr class="danger" id = "inCon">
                  
                  <td class="col-md-4 success td-responsive" id = "inCon">
                      <div align="center"> <%= link_to image_tag ("10.jpg") ,{ :class => 'img-responsive' , :alt => 'Responsive image'}%></div>
                  </td>
                    <td class="col-md-4 success td-responsive" id = "inCon">
                      <div align="center"> <%= link_to image_tag ("11.jpg") ,{ :class => 'img-responsive' , :alt => 'Responsive image'}%></div>
                  </td>
              </tr>
              <tr class="danger" id="inCon"> 

                </td>
                <td class=" col-md-4 success " id = "inCon">
                    <%= link_to "کیک و شیرینی" ,:method => :get,:action => 'show', :name =>"cake" %>
                      <span class="glyphicon glyphicon-heart-empty"></span> 
                  </td>
                  <td class=" col-md-4 success " id = "inCon">
                    <%= link_to "سفره‌ی عقد" ,:method => :get,:action => 'show', :name =>"wedding" %>
                      <span class="glyphicon glyphicon-heart"></span> 
                  </td>
              </tr>           
          </table>
      </div>
        </div> -->       
  </body>
</html>
