<p id="notice"><%= notice %></p>

<p>
  <strong>Bridename:</strong>
  <%= @profile.brideName %>
</p>

<p>
  <strong>Groomname:</strong>
  <%= @profile.groomName %>
</p>

<p>
  <strong>Username:</strong>
  <%= @profile.userName %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @profile.photo %>
</p>

<p>
  <strong>Ceremonydate:</strong>
  <%= @profile.ceremonyDate %>
</p>

<p>
  <strong>Aboutus:</strong>
  <%= @profile.aboutUs %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
