<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Bridename:</strong>
  <%= @profile.brideName %>
</p>

<p>
  <strong>Groomname:</strong>
  <%= @profile.groomName %>
</p>

<p>
  <strong>Username:</strong>
  <%= @profile.userName %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @profile.photo %>
</p>

<p>
  <strong>Ceremonydate:</strong>
  <%= @profile.ceremonyDate %>
</p>

<p>
  <strong>Aboutus:</strong>
  <%= @profile.aboutUs %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %> -->

<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/profile.css" rel="stylesheet">
        <link href="css/font.css" rel="stylesheet">
  </head>
  <body id = "" align="center">
    <div id="profile_background" >
      <img src="images/home.jpg" class="stretch" alt="" />
      <%= link_to image_tag ("head.png") , :class => "stretch" %>
    </div>
      <%= render "layouts/navbar" , :locals => {:brand => "پروفایل ما"}%>
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 jumbotron " id = "profile_main-content">
            <div class = "row">
                <div class="col-md-8">
                    <div class="panel panel-danger" id ="box">
                        <div class="panel-heading">
                            <h3 class="panel-title row">
                                <div class="col-md-5" id = "profile_desc">
                                  <%= @profile.ceremonyDate %>
                                </div>
                                <div class="col-md-7" id="desc">
                                  <%= @profile.brideName %>
                                  <%= "و" %>
                                  <%= @profile.groomName %>
                                </div>

                            </h3>
                        </div>
                        <div class="panel-body" >
                          <p id = "desc">
                            <%= @profile.aboutUs %>
                          </p>
                         </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="container" id="profile_pic">
                        <img src="images/ax.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row container" id = "foott">
                <a>
                <div align="center">
                    <%= button_to  "ویرایش اطلاعات", edit_profile_path, :class => 'btn btn-primary', :type=>'button', :id=>'profile_new-msg-btn'  ,:method => :get%> </a>
                    <!-- <a class="btn btn-primary" role="button" id ="new-msg-btn">ویرایش اطلاعات</a> 
                    <a class="btn btn-danger" role="button" > حذف حساب کاربری</a> -->
                </div>
                <a>
            </div>


      

        </div>
        <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>     
  </body>
</html>
