<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">ورود</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <label>نام کاربری </label>
                            <input type="text" class ="col-md-6" >
                        </div>
                        <div class="input-group ">
                            <label> گذرواژه </label>
                            <input type="password" class ="col-md-6">
                        </div>
                    </div>
                    <p>
                        <a href="url" data-toggle="modal" data-target="#smallModal" id="frgt-pass-link" >گذرواژه‌ی خود را فراموش کرده‌اید؟</a>
                    </p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="window.open('profile.html')" >ورود</button>
                    </div>
                </div>
            </div>
</div> 


<div class="col-md-offset-1 col-md-10 col-md-offset-1 modal-content " id = "shanbe">
                  
                    <%= form_for(:user, :url => session_path(:user)) do |f| %>
                        <div id = "email_field" align="center" >
                         <%= f.text_field :email , :placeholder => '  ایمیل' %>
                        </div>
                         <br>
                        <div id = "pass_field"  align= "center" >
                            <%= f.password_field :password , :placeholder => '  گذرواژه' %> <br>
                        </div>
                        <div align="center">
                            <%= f.check_box :remember_me %>
                            <%= f.label :"مرا به خاطرت نگه‌دار" %>
                        </div>
                        <div align="center">
                            <%= f.submit 'ورود' ,:class => 'submit_class_name_here'%>
                        </div>
                        <div align="center">
                        <%= link_to "گذر‌واژه‌ی خود را فراموش کرده‌اید؟", new_password_path(:user), :id=>"link" %>
                        </div>
                        <div align="center">
                        <%= link_to "از اعضا نیستید؟", new_user_registration_path, :id=>"link"%>
                        </div>
                    <% end %>
                    
                </div>