<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Information</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/information.css" rel="stylesheet">
    <link href="css/font.css" rel="stylesheet">
  </head>
  <body>
    <%= render "layouts/navbar" , :locals => {:brand => ""}%>
        <div class="jumbotron" id = "pg-main-content">
            <div class = "row">
                <div class="col-md-12" id = "product_description">
                    <div class="panel panel-info" id ="box">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                          <b>
                          <%=@product.name%>
        </b>
                            </h3>
                        </div>
                        <div class="panel-body">
                          <p> 
        <%=@product.description%>
        </p>
                        </div>
                    </div>
                </div></div>
                <br><br>
                <div class = "row">
                <div class = "col-md-12">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1" ></li>
          <li data-target="#carousel" data-slide-to="2" ></li>
          <li data-target="#carousel" data-slide-to="3" ></li>  
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%=link_to image_tag("17-2.jpg", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>       
          </div>
          <div class="item">
            <%=link_to image_tag("9-2.jpg", :alt => "Slide2"), {:class => "img-responsive", :alt => "Responsive image"} %>
          </div>
          <div class="item">
            <%=link_to image_tag("20-2.jpg", :alt => "Slide3"), {:class => "img-responsive", :alt => "Responsive image"} %>
          </div>
          <div class="item">
            <%=link_to image_tag("10-2.jpg", :alt => "Slide4"), {:class => "img-responsive", :alt => "Responsive image"} %>
          </div>
        </div>
        <a href="#carousel" class="left carousel-control" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel" class="right carousel-control" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
                  </div>

              </div> 
  </div>

<br>
<div class = "row">

    <div class="btn-group col-md-1 col-md-offset-2">
            <button type="button" class="btn btn-default " id= "new-msg-btn" data-toggle="modal" data-target="#suggest-modal">
  <b>پیشنهاد به دوستان</b>
      </button>
      <!--
            <button type="button" class="btn btn-default " id="new-msg-btn">
  <b>دوست نداشتم</b>
      </button>
            <button type="button" class="btn btn-default " id="new-msg-btn"> 
  <b>دوست داشتم</b>
      </button>-->
        </div>
        </div>
        <div class ="row">
          <div class = "col-md-4 col-md-offset-6">
          این محصول تا به حال <%= @product.suggestions %>بار پیشنهاد شده‌است.
        </div>
        </div>
        <hr>
  <%= render :partial => '/comments/comment_product' , :locals =>{:com => @comments, :newCom => @newComment, :prod => @product}  %>
       </div>
  </div>
        </div> 
  <div class="modal fade" id="suggest-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
      </button>
                        <h4 class="modal-title" id="myModalLabel"><b>پیشنهاد این محصول به دوستان</b>
      </h4>
                    </div>
                    <div class="modal-body">
                      <%= form_tag "/products/send_email" do %>
                        <%= hidden_field_tag 'p_name', @product.name%>
                        <%= hidden_field_tag 'p_id', @product.id%>
                        <div class="form-group">
                            <%= label_tag 'name', 'نام گیرنده' %>
                            <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'نام گیرنده' %>
                        </div>
                         <div class="form-group">
                           <%= label_tag 'email', 'پست الکترونیکی گیرنده' %>
                           <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'پست الکترونیکی گیرنده' %>
                       </div>
                       <div class="form-group">
                           <%= label_tag 'msg', 'پیام شما' %>
                           <%= text_area_tag 'msg', nil, class: 'form-control', rows: 4, placeholder: 'پیام شما' %>
                       </div>
                       <div class="modal-footer">
                         <%= submit_tag 'ارسال', class: 'btn btn-success' %>
                        </div>
                   <% end %>
                      <!--          <div class="input-group">
                                    <input type="text" class="form-control" placeholder="گیرنده">
                                </div>
                                <div class="input-group" >
                                    <input type="text" class="form-control" rows = "2"placeholder="متن پیشنهاد">
                                </div>
                      -->
                            
                    </div>
                  
                </div>
            </div>
        </div>
  </body>
</html>



